@import "./../node_modules/bootstrap/dist/css/bootstrap.css";

header {
    background-image: url(./assets/images/3386851.jpg);
    height: 75vh;
}

#headerId {
    background-image: url(./assets/images/3632097.jpg);
    height: 40vh;
}

.thisClass {
    margin-top: 20vh;
}

.container-fluid {
    background-color: #bde0fe;
    height: 30rem;
}

footer {
    background-color: #bde0fe; 
}