@import "./../node_modules/bootstrap/dist/css/bootstrap.css";

header {
    background-image: url(./assets/images/3386851.jpg);
    height: 75vh;
}

#headerId {
    background-image: url(./assets/images/3632097.jpg);
    height: 40vh;
}