



h3:hover {
    text-decoration: underline;
    text-decoration-color: #3a86ff;
}

.active {
  color: #000;
  text-decoration: none;
}
.active:hover {
  color: #3a86ff;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #3a86ff;
}