


.stylishButton {
    background-color: #e63946;
    color: #edf2f4;
    border: 3px solid #d90429;
    border-radius: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.stylishButton:hover {
    background-image: linear-gradient(to right, #78290f, #f9c74f, #25ced1, #9c6644);
    transition: all 0.5s;
    color: #333533;
    border-color:#333533;
}